<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>ERROR 404</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="background-image: url(./img/back.png);  background-size: cover;">

        <div>ERROR 404.
        </div>
        <script>
             
            Swal.fire({
                icon: 'error',
                title: 'Oops... ERROR 404.',
                text: 'NO existe la ruta a la que deseas ingresar',
                timer: 5000,
                didClose: () => {
                    window.history.back();
                }
            });
        </script>
    </body>
</html>
