<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/log.png" type="image/x-icon">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid ">
                <a class="navbar-brand fw-bolder" href="#">[[#{app.saludo}]], <span th:text="${nombreUsu}"></span></a>
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                th:href="@{/app}">[[#{index.servicios.reuniones}]]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/horarios}">[[#{app.horarios}]]</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                            <a class="nav-link" th:href="@{/usuarios}"><i class="fa fa-user" aria-hidden="true"></i>
                                [[#{app.usuarios}]]</a>
                        </li>

                    </ul>
                    <div
                        class="d-flex bg-black text-white rounded-5 p-3  align-content-center justify-content-center text-center">
                        <li class="nav-item dropdown d-flex  align-items-center">
                            <button id="toggle-theme" class="btn btn-lg btn-outline-secondary m-2 border-1 rounded-5">
                                <i id="icon-moon" class="bi bi-moon"></i>
                                <i id="icon-sun" class="bi bi-sun" style="display:none"></i>
                            </button>
                            <a class="nav-link fw-bolder dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false" style="margin-right: 15px;">[[#{app.perfil}]] <br> <span
                                    th:text="${nombreUsu}"></span></a>

                            <ul class="dropdown-menu w-100 bg-black text-white">
                                <li>
                                    <a href="https://paypal.me/mee479" target="_blank"
                                        class="dropdown-item text-white fw-bolder rounded-3 link-u"
                                        style="background-color: #002C8A; border: 2px solid #009AE0;">Donaciones a <svg
                                            xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                                            <style>
                                                svg {
                                                    fill: #009AE0
                                                }
                                            </style>
                                            <path
                                                d="M111.4 295.9c-3.5 19.2-17.4 108.7-21.5 134-.3 1.8-1 2.5-3 2.5H12.3c-7.6 0-13.1-6.6-12.1-13.9L58.8 46.6c1.5-9.6 10.1-16.9 20-16.9 152.3 0 165.1-3.7 204 11.4 60.1 23.3 65.6 79.5 44 140.3-21.5 62.6-72.5 89.5-140.1 90.3-43.4.7-69.5-7-75.3 24.2zM357.1 152c-1.8-1.3-2.5-1.8-3 1.3-2 11.4-5.1 22.5-8.8 33.6-39.9 113.8-150.5 103.9-204.5 103.9-6.1 0-10.1 3.3-10.9 9.4-22.6 140.4-27.1 169.7-27.1 169.7-1 7.1 3.5 12.9 10.6 12.9h63.5c8.6 0 15.7-6.3 17.4-14.9.7-5.4-1.1 6.1 14.4-91.3 4.6-22 14.3-19.7 29.3-19.7 71 0 126.4-28.8 142.9-112.3 6.5-34.8 4.6-71.4-23.8-92.6z" />
                                        </svg> PayPal</a>
                                </li>
                                <li><a class="dropdown-item text-white" th:href="@{/datos}">[[#{app.perfil.datos}]]</a>
                                </li>
                                <li><a class="dropdown-item text-white"
                                        th:href="@{/ajustes}">[[#{app.perfil.ajustes}]]</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="bg-danger">
                                    <form th:action="@{/logout}" method="post">
                                        <a class="dropdown-item text-white bg-danger fw-bold"
                                            onclick="this.parentNode.submit();"
                                            href="#">[[#{app.perfil.btn.cerrar.sesion}]]</a>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <footer th:fragment="footer" class=" text-white mt-2">
        <!-- place footer here -->

        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
            </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
            </script>

        <script src="/js/main.js"></script>
        <div class="container">
            <div class="col ">
                <p class="lead text-center">
                    <span class="idioma text-dark">[[#{plantilla.pie-pagina}]] &copy;2023</span>
                </p>
            </div>


        </div>
    </footer>
</body>

</html>